body {
    font-family: Arial, sans-serif;
}

#result-head {
    margin: 25px auto;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.search-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 25px auto !important;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-label {
    font-weight: bold;
    margin-bottom: 8px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.record-btn-container {
    display: inline-block;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#search-head {
    padding: 15px 0 15px 0 !important;
    font-weight: bold !important;
    font-size: 30px;
}

th, td {
    border: 1px solid #ddd !important;
    height: 40px;
    text-align: center;
    vertical-align: middle !important;
    padding: 10px !important;
}

th {
    background-color: #F2EFE7;
    font-weight: bold !important;
    font-size: 16px !important;
}

td div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 !important;
}

#btn-search {
    background-color: #2973B2 !important;
    color: white !important;
}

#btn-search:hover {
    background-color: #1E4F80 !important;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-record {
    background-color: #9ACBD0;
    color: white;
}

.btn-analysis {
    background-color: #48A6A7;
    color: white;
}

.btn-record:hover {
    background-color: #3B6790;
}

.btn-analysis:hover {
    background-color: #4C7B8B;
}


.pagination-container {
    margin: 20px 0 20px 0 !important;
}

.pagination-btn {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-btn:hover {
    background-color: #ddd;
}

.pagination-btn.active {
    background-color: #2973B2;
    color: white;
}

.pagination-btn.active:hover {
    background-color: #23486A;
}
